<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to t('views.navbar._navbar.links.posts'), root_path, class: 'nav-link' %>
    </li>
      <li class="nav-item">
        <%= link_to t('views.navbar._navbar.links.new_post'), new_posts_path, class: 'nav-link' %>
      </li>
    <li class="nav-item">
      <%= link_to t('views.navbar._navbar.links.sign_up'), new_user_path, class: 'nav-link' %>
    </li>
  </ul>
  </div>
</nav>