<div class="container " style=" padding: 0" id="create_comment">
  <%= form_with url: user_post_comments_path(current_user, post) do |f| %>
    <div class="form-group">
      <%= f.text_area :body, size: '200x12', required: true, class: 'form-control raz',
        style: ' width: 100%; border: 1px solid grey; text-align: left; color: black' %>
      <%= f.submit t('views.post.show.links.add_comment'), class: 'btn btn-sm btn-outline-secondary',
        style: 'border-radius: 1rem; position: relative; right: 29rem; background-color: #f9f9f9'%>
  <%end %>
  </div>
</div>