<div class="card mb-4 shadow-sm dist_posts_show" style="border-radius: 1.5rem; width: 500px; height: 500px" >
  <% if @user.cover.present? %>
    <%= image_tag @user.cover.url.url, alt: 'Image', class: 'card-img-top', target: '_blank',
      style: ' padding-left: 5%; padding-right: 5%; height: 420px; padding-top: 5%; border-radius: 1.5rem' %>
  <% end %>
  <div class="card-body">
    <h2 class="card-text" style="font-size: 1.25rem"><%= @user.username %></h2>
  </div>

  <div class="btn-group">
    <%= link_to t('views.user.show.links.my_posts'), posts_user_path(@user.id), class:"btn btn-sm btn-outline-secondary", style: 'color:black; border-radius: 1rem'%>
  </div>
</div>

