
.dist_posts {
  display: flex;
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
}


.raz {
  padding: 0;
  font-size: 2em;
  text-align: center;
  background: #FFF5D7;
  opacity: .9;
}

.form-control2 {
  width: 50%;
}

.dist_posts_show {
  margin: 3%;

}

.photo {
  text-align: -webkit-center;
  height: 52.25%;
}
