// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dist_posts {
  display: flex;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 37%;
}

.card {
  max-width: 370px;
}

