
.dist_posts {
  display: flex;
  margin-top: 10%;
  margin-left: 37%;
  margin-right: 10%;
}


.raz {
  padding: 0;
  font-size: 2em;
  text-align: center;
  background: #FFF5D7;
  opacity: .7;
}

.form-control2 {
  width: 50%;
}

.dist_posts_show {
  margin: 3%;

}
