
.center {
  padding-top: 100px;
  padding-left: 500px ;
  margin: auto;
}

.sign_up {
  margin: auto;
  padding-bottom: 100px;
  padding-left: 136px ;
}

.user_save {
  padding-bottom: 10px;
  padding-left: 150px;
  margin: auto;
}

.but_password_save {
  padding-bottom: 10px;
  padding-left: 155px;
  margin: auto;
}

.but_user_save_password2 {
  padding-bottom: 10px;
  padding-left: 110px;
  margin: auto;
}

.but_data_save {
  padding-bottom: 40px;
  padding-left: 170px;
  margin: auto;
}